body{
  margin: 0;
  padding: 0;
}

#root .ant-layout, .ant-layout-has-sider{
  /* background-color: aqua; */
  height: 500px ;
  height: fill-available;
  height: -webkit-fill-available;
  height: -moz-available;
}
.test{
  border: 1px solid red;
}